/* responsive for medium devices */
@media screen and(min-width: 577px) and(max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .teams {
        flex-direction: column;
    }

    .features {
        flex-direction: column;
    }

    .cards-container{
        flex-wrap: wrap;
    }


}




/* responsive for small devices */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .teams {
        flex-direction: column;
    }

    .teams-photo {
        grid-template-columns: repeat(1, 1fr);
    }

    .features {
        flex-direction: column;
    }

    .position-btn {
        display: none;
    }

    .cards-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .sponsors-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}
