/* google font added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
}

.d-f {
    display: flex;
}

.common-btn {
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    color: #fff;
    padding: 14px 18px;
    font-size: 1rem;
    font-weight: 600;
}

.common-description {
    font-size: 1rem;
    color: rgb(114, 114, 114);
    font-weight: 400;
}

.common-title {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(19, 19, 19);
}


.text-black {
    color: rgb(19, 19, 19);
}

.text-orange {
    color: rgb(255, 144, 14);
}

.text-gray {
    color: rgb(66, 66, 66);
}

.text-light-gray {
    color: rgb(114, 114, 114);
}

.bg-primary {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header section styles start ------------------------------------------------------------------- */
.header-section {
    margin-bottom: 100px;
}


/* navbar styles */
.navbar {
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 70px;
}

.nav-links {
    gap: 15px;
}

.nav-link {
    font-size: 1rem;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}


/* banner related css styles */
.banner {
    max-width: 1024px;
    margin: 0 auto;
}

.banner-content {
    max-width: 612px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 2.85rem;
    margin-bottom: 15px;
}

.banner-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.banner-photo {
    margin-top: 35px;
    padding-bottom: 35px;
}

.banner-photo img {
    width: 100%;
}

/* header section styles end--------------------------------------------------------------------------- */


/* main section styles start-------------------------------------------------------------------------- */
.main-section {
    max-width: 1024px;
    margin: 0 auto;
}

/* teams related css styles */
.teams {
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.teams-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 10px;
}

.teams-photo img {
    width: 100%;
}

.teams-content {
    text-align: center;
}

.teams-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.teams-description {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* features related css styles */
.features {
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}

.features-title {
    display: flex;
    align-items: center;
}

.v-line {
    color: rgb(255, 144, 14);
    font-size: 4.6rem;
    font-weight: 300;
}

.box-shadow-1 {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 22px;
    margin-bottom: 15px;
}

.bs-title {
    font-size: 1rem;
    font-weight: 600;
}

.bs-description {
    font-size: 0.75rem;
    font-weight: 400;
}

.features-photo{
    position: relative;
}

.features-photo img {
    width: 100%;
}

.position-btn{
    background-color: rgb(255, 144, 14);
    color: #fff;
    padding: 10px;
    border:none;
    border-radius: 8px;
    position: absolute;
    top: 85%;
    right: 55%;
    display: block;
}

.p-btn-large-text{
    font-size: 2.85rem;
    font-weight: 700;
}

.p-btn-small-text{
    font-size: 1.25rem;
    font-weight: 500;
}



/* facts related css styles */
.facts{
    margin-bottom: 100px;
}
.cards-container {
    margin-top: 50px;
    justify-content: space-between;
}

.single-card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: fit-content;
    text-align: center;
    padding: 20px;
    width: 175px;
    height: 175px;
}

.single-card img{
    width: 30%;
    height: 30%;
}


/* sponsors related styles */
.sponsors{
    margin-bottom: 80px;
}
.sponsors-container{
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sponsors-container img{
    width: 100px;
    object-fit: cover;
    filter: grayscale(100%);
}

/* footer section styles---------------------------------------------------------------------- */
.footer-section{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}




/* main section styles end -------------------------------------------------------------------------- */


/* footer section styles start -------------------------------------------------------------------------- */
/* footer section styles end -------------------------------------------------------------------------- */